@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  font-family: "Raleway", sans-serif;
}

.mainbox {
  padding-top: 6rem;
  margin: 0 auto;
  width: 900px;
  display: flex;
  box-sizing: border-box;
}

.lists_left_side {
  box-sizing: border-box;
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  width: 280px;
}
.OneList {
  list-style: none;
  margin: 0;
  font-size: large;
  padding: 0.5rem 1rem;
  padding-bottom: 2rem;
  font-weight: 600;
}
.OneMainList {
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.wrapper {
  margin: 0 auto;

  width: 600px;
}

.done {
  text-decoration: line-through;
}

.ToDoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

// .space_for_button {
//   display: none;
// }
.ToDoItem :hover .space_for_button {
  display: inline !important;
  color: red;
}

.PlusLists {
  font-size: 40px;
  color: rgb(255, 174, 0);
}

.inputAddList {
  margin: 0.8rem;
}

.hide {
  display: none;
}

.SurpriseYourself {
  margin: 3rem auto;
  font-size: 26px;
  font-weight: 1, 700;
}
.DoYouHaveAnyPlans {
  font-size: 22px;
  font-weight: 1, 400;
}
